<h1>All Astronauts</h1>
<ul>
  <% @astronauts.each do |astronaut| %>
  <li>Name: <%= astronaut.name %></li>
  <li>Age: <%= astronaut.age %></li>
  <li>Job: <%= astronaut.job %></li><br />
    <p>Space Missions: </p>
    <% astronaut.alpha_order.each do |mission| %>
    <li><%= mission.title %></li>
    <% end %>
<% end %>
</ul>
<p>Average Age: <%= @astronauts.average_age %></p>
